#banner-image {
  display: block;
  margin: 0% auto;
  border: 1px solid #fff;
  border-radius: 10px;
  max-width: 600px;
  max-height: 7%;
}

#city {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
}
.col-2 {
  text-align: center;
}

.container {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.current,
ul.current {
  padding-left: 0%;
}

#current-description:first-letter {
  text-transform: capitalize;
}

#current-temp {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  vertical-align: middle;
}

#high,
#low,
#humidity,
#wind {
  position: relative;
  font-size: 16px;
  top: 19px;
}

.day-date {
  text-align: center;
}

#forecast-high,
#forecast-low {
  text-align: center;
  font-size: 13px;
  color: black;
}

#forecast-low {
  color: #70757a;
}

.github {
  max-width: 600px;
  text-align: center;
  display: block;
  margin: 0% auto;
}

.github-link {
  text-decoration: none;
  font-size: 16px;
  color: black;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.github-link:hover {
  color: purple;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.forecast {
  text-align: center;
}

#unit-of-temp {
  position: relative;
  font-size: 16px;
  top: 19px;
}

#fahrenheit-link {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #202124;
  text-decoration: none;
}
