#banner-image {
  border: 1px solid #fff;
  border-radius: 10px;
  max-width: 600px;
}

[class^="block-"] {
  display: flex;
  gap: 2vh;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

[class^="box-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 100%;
}

.block-1.box-1 {
  flex: auto;
  text-align: left;
  justify-content: left;
}

.block-2 {
  justify-content: left;
  align-items: left;
}

#city {
  margin-top: 11px;
  color: #202124;
  font-size: 22px;
  line-height: 26px;
}

.container {
  display: flex;
  max-width: 600px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  flex-direction: column;
}

#current-description:first-letter {
  text-transform: capitalize;
}

#current-temp {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

#fahrenheit-link {
  position: relative;
  top: -14px;
  color: #202124;
  text-decoration: none;
}

.github {
  max-width: 600px;
  text-align: center;
  display: block;
  margin: 0% auto;
}

.github-link {
  text-decoration: none;
  font-size: 16px;
  color: black;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.github-link:hover {
  color: purple;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  .block-2 {
    flex-direction: column;
    height: 60vh;
  }

  .box-3 {
    flex: 80%;
  }
  .box-4 {
    height: 20vh;
  }
}
